"use client"

import { type {{toPascalCase module}} } from "@/db/schema"
import { type Table } from "@tanstack/react-table"
import { Download } from "lucide-react"

import { exportTableToCSV } from "@/lib/export"
import { Button } from "@/components/ui/button"

import { Delete{{toPascalCase module}}sDialog } from "./delete-{{toKebabCase module}}s-dialog"

interface {{toPascalCase module}}sTableToolbarActionsProps {
  table: Table<{{toPascalCase module}}>
}

export function {{toPascalCase module}}sTableToolbarActions({
  table,
}: {{toPascalCase module}}sTableToolbarActionsProps) {
  return (
    <div className="flex items-center gap-2">
      {table.getFilteredSelectedRowModel().rows.length > 0 ? (
        <Delete{{toPascalCase module}}sDialog
          {{module}}s={table
            .getFilteredSelectedRowModel()
            .rows.map((row) => row.original)}
          onSuccess={() => table.toggleAllRowsSelected(false)}
        />
      ) : null}
      <Button
        variant="outline"
        size="sm"
        onClick={() =>
          exportTableToCSV(table, {
            filename: "{{module}}s",
            excludeColumns: ["select", "actions"],
          })
        }
        className="gap-2"
      >
        <Download className="size-4" aria-hidden="true" />
        Export
      </Button>
      {/**
       * Other actions can be added here.
       * For example, import, view, etc.
       */}
    </div>
  )
}
